.container {
  padding-top: 10px;
  .title_of_page {
    display: block;
    font-size: var(--font-size-l);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    &::before {
      content: " ";
      width: 68px;
      height: 5px;
      background-color: var(--secondary-color);
      display: block;
      position: relative;
      bottom: -40px;
      margin: 0 auto;
      border-radius: 5px;
    }
  }
  .content_page {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .description_part {
      display: flex;
      flex-direction: column;
      margin-right: 5px;
      max-width: 430px;
      .who_am_i {
        margin-bottom: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      .that_is_me {
        font-weight: bolder;
        margin-bottom: 16px;
      }

      .description_text {
        strong {
          font-size: larger;
        }
        a {
          text-decoration: underline;
          font-weight: 700;
          color: #7843e9;
          margin: 0 3px;
        }
      }
    }
    .my_skils {
      max-width: 430px;
      .title_of_skills {
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      .skills_list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;

        .skills_item {
          padding: 10px 10px;
          margin-bottom: 10px;
          margin-right: 10px;
          font-size: var(--font-size-m);
          background: rgba(153, 153, 153, 0.2);
          border-radius: 5px;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    .content_page {
      width: 80%;
      margin: 0 auto;
      .description_part {
        margin-bottom: 20px;
        width: 95%;
      }
      .my_skils {
        text-align: center;
        .skills_list {
          justify-content: center;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    .content_page {
      .description_part {
        .description_text {
          font-size: 14px;
          line-height: 1.5;
        }
      }
      .my_skils {
        max-width: 330px;
        .skills_list {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .container {
    .content_page {
      margin: 0px 45px;
      .my_skils {
        max-width: 330px;
        padding-left: 10px;
        .skills_list {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding-top: 10px;
    .content_page {
      .description_part {
        padding-left: 20px;
      }
      .my_skils {
        padding-left: 15px;

        .skills_list {
          .skills_item {
            padding: 5px 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .container {
    .content_page {
      width: 75%;
      margin: 0px 55px;
      .description_part {
        .description_text {
          text-align: justify;
        }
      }
      .my_skils {
        .skills_list {
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .container {
    .content_page {
      .description_part {
        max-width: 250px;
        .description_text {
          text-align: justify;
        }
      }
      .my_skils {
        .skills_list {
        }
      }
    }
  }
}
