.Button {
    cursor: pointer;
    margin-right: 16px;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    color: red;
}

.outline {
    padding: 10px 15px;
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.filled {
    padding: 10px 15px;
    background: black;
    border: 1px solid var(--primary-color);
    color: white;
}
