.app.dark {
  --bg-color: #3c3c3c;
  --inverted-bg-color: #e5e5e5;
  --inverted-bg-color-navbar: #e5e5e5af;

  --primary-color: #e5e5e5;
  --primary-color-navbar: #000000;
  --secondary-color: #ff5656;
}
