.app.light {
  --bg-color: #e5e5e5;
  --inverted-bg-color: #3c3c3c;
  --inverted-bg-color-navbar: #3c3c3cd4;

  --primary-color: #000;
  --primary-color-navbar: #f4f4f4;

  --secondary-color: #f6804d;
  --inverted-primary-color: #f6804d;
}
