.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color-navbar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  z-index: 9999;
  .logo {
    @keyframes tipsy {
      0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
      }

      100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
      }
    }

    a {
      color: #fffbf1;
      text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;

      font-weight: bold;
      text-decoration: none;
      background: #ce5937;
      background: linear-gradient(left, #ce5937 0%, #a40999 100%, #c59237 100%);
      background: linear-gradient(left, #ce5937 0%, #a40999 100%, #c59237 100%);
      background: linear-gradient(
        to right,
        #ce5937 0%,
        #a40999 100%,
        #c59237 100%
      );

      // letter-spacing: -3px;
      margin: 0;
      position: absolute;

      transform: translateX(25%) translateY(-50%);
    }

    a::before,
    a::after {
      content: "";
      padding: 0.9em 0.4em;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      display: block;
      border: 5px solid red;
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      animation: 10s infinite alternate ease-in-out tipsy;
    }

    a::before {
      border-color: #d9524a #d9524a rgb(0 0 0 / 0%) rgb(0 0 0 / 0%);
      z-index: -1;
    }

    a::after {
      border-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%) #d9524a #d9524a;
      box-shadow: 25px 25px 25px rgb(46 46 49 / 80%);
    }
  }

  .links {
    .mainLink {
      cursor: pointer;
      margin-right: 15px;
      font-size: 20px;
      color: var(--primary-color-navbar);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      transition: color 0.3s;
    }
  }
}
