.AppLink {
    color: var(--primary-color);
}

.primary {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.secondary {
    color: var(--inverted-primary-color);
     font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;

}
