.AppLink {
    color: var(--primary-color);
}

.primary {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ff8a56;
    text-decoration: none;
    text-shadow: 1px 0 0 #969696, 1px 13px 5px #aba8a8, 2px 2px 2px rgb(206 89 55 / 0%);
}

.secondary {
    color: var(--inverted-primary-color);
}
